$moonlight-primary: #30336F;
$moonlight-dark: #0E1738;
$moonlight-secondary: #585A85;
$moonlight-secondary-light: #B378C4;
$moonlight-neutral: #CACBDA;
$moonlight-light: #EF9B90;
$moonlight-accent: #CD6787;
$moonlight-white: #FFFFFF;
